﻿<span class="signin_name">@User.Claims.First(x => x.Type == "name").Value</span>
@*<a  class='sign_out' asp-controller="Account" asp-action="SignOut"><div class="sign_out__image"><i class="fas fa-sign-out-alt"></i></div></a>*@