﻿@using Microsoft.AspNetCore.Http.Extensions
@*<a class='sign_in' asp-controller="Account" asp-action="SignIn" asp-route-redirectUri="@Context.Request.GetEncodedPathAndQuery()"><div class="sign_in__image"><i class="fas fa-user"></i></div></a>*@