﻿﻿﻿<header class="header">
     <div class="container">  
        <div>
            <a asp-page="/Index" class="header_logo">
                <img src="/images/logo.png" alt="logo">
                <div class='logo_text'>
                    <div class='logo_text__block'>
                        @SharedLoc["Department"]
                    </div>
                    <div class='logo_text__block'>
                       @SharedLoc["ITCS"]
                    </div>
                    <div class='logo_text__block diff'>
                        @SharedLoc["ONAFT"]
                    </div>
                </div>
            </a>
        </div>
     </div>
 
     <div class="header_menu__wrap">

         <vc:main-menu display-for="Header"/>

         <div class="header_toggle">
             @*<div class="signin_block">
                 <div class="signin_wrap">
                     <vc:login-section is-authenticated="@User.Identity.IsAuthenticated"/>
                 </div>
             </div>*@
             <a href="#" class="burger">
                 <div class="burger_toggle"><span></span></div>
             </a>
         </div>
         <div class="clearfix"></div>
         <div class="menu_lang">
             <vc:language-selector/>
         </div>
     </div>
</header>
<div class="banner banner_main __fullsize">
    <div class="banner_wrap">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="banner_content">
                        <h1 class="banner_title"><p>Сердце ОНАПТ</p>
</h1>
                        <div class="banner_link">
                            <a href="#" class="button __lg">Обучение на кафедре</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="navwindow"></div>
<div class="navwrap">
    <div class="container">
        <div class="navblock">
            <vc:main-menu display-for="SidePanel"/>
        </div>
    </div>
</div>