﻿@model ITCSCloud.ViewModels.MainMenuViewModel
﻿﻿
@foreach (var menuItem in Model.Items)
{
    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
        <div class="footer_col">
            <div class="footer_title"><a asp-page="@menuItem.PagePath">@SharedLoc[menuItem.Title]</a></div>
            <ul class="footer_list">
                @foreach (var subMenuItem in menuItem.Children)
                {
                    <li class="menu_item"><a asp-page="@subMenuItem.PagePath">@SharedLoc[subMenuItem.Title]</a></li>
                }
            </ul>
        </div>
    </div>
}
<div class="clearfix"></div>
