﻿@model ITCSCloud.ViewModels.MainMenuViewModel

<ul class="header_menu">
    @foreach (var menuItem in Model.Items)
    {
        <li class="menu_item" conditional-class-active="@menuItem.HasPath(Model.CurrentPagePath);">
            <a asp-page="@menuItem.PagePath">@SharedLoc[menuItem.Title]</a>
        </li>
    }
</ul>