﻿@model ITCSCloud.ViewModels.MainMenuViewModel

        @foreach (var menuItem in Model.Items)
        {
                <div class="side_item">
                    <div class="side_item__title"><a asp-page="@menuItem.PagePath">@SharedLoc[menuItem.Title]</a></div>
                    <ul class="side_item__list">
                        @foreach (var subMenuItem in menuItem.Children)
                        {
                            <li class="side_subitem"><a asp-page="@subMenuItem.PagePath">@SharedLoc[subMenuItem.Title]</a></li>
                        }
                    </ul>
                </div>
        }
        <div class="clearfix"></div>