﻿@page

@{ 
    ViewData["Title"] = SharedLoc["Academic"];
}

<div class="staffwrap">
    <div class="container">
        <div class="row">
            
            @for (var i = 0; i < 3; i++)
            {
                <div class="staffblock_wrap col-md-6">
                    <div class="staffblock clearfix">
                        <a href="#" class="staffblock_image" style="background-image: url(/images/staff_1.jpg);"></a>
                        <div class="staffblock_content">
                            <div class="staffblock_name">
                                <a href="#">Плотников Валерий Михайлович</a>
                            </div>
                            <div class="staffblock_title">
                                Заведующий кафедрой
                            </div>
                            <hr class="staffblock_hr"/>
                            <div class="staffblock_info">
                                <div class="staffblock_text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </div>
                            </div>
                            <div class="staffblock_link">
                                <a href="#">@Loc["ViewProfile"] <i class="fas fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>   
            }

            <div class="clearfix visible-lg"></div>
            <div class="clearfix visible-md"></div>
            <div class="clearfix visible-sm"></div>

        </div><!--row-->
    </div><!--container-->
</div>