@import "colors";

.footer {
    padding: 40px 0;
    background: #2b2a2a;
    .row {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 992px) {
    .footer {
        padding:60px 0
    }
} 

@media (min-width: 1200px) {
    .footer {
        padding:80px 0 60px 0;
        &_menu {
            display: flex;
            align-items: flex-start;
        }
        &_col {
            margin: 0
        }
    }
}

.footer.__low {
    background: #262525;
    padding: 20px 0;
    text-align: center
}

@media (min-width: 768px) {
    .footer.__low {
        text-align:left
    }
}

.footer.__low .footer_col {
    margin: 0;
    padding: 0
}

.footer_col {
    margin: 20px 0
}

.footer_title {
    font-weight: 400;
    color: #fff;
    margin: 0 0 10px 0;
    a {
        color: #fff;
        &:hover {
            color: $main_color;
        }
    }
}

@media (min-width: 768px) {
    .footer_title {
        margin:0 0 20px 0
    }
}

.footer_list li {
    display: block
}

.footer_list li a { 
    display: block;
    color: #a0a0a0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s
}

.footer_list li a:hover,.footer_list li a:focus {
    color: $main_color;
}

.footer_logo {
    display: inline-block;
    margin: 10px;
    img {
        height: 100px;
    }
}

@media (min-width: 768px) {
    .footer_logo {
        margin:0 40px 0 0;
        img {
            height: 130px;
        }
    }
}