@import "colors";

.header {
    margin: 20px 0 0 0; 
    position: relative;
    z-index: 55;
    &_logo {
        display: inline-block;
        -webkit-transition: all .3s;
        transition: all .3s;
        img {
            height: 71px;
        }
    }
    &_menu__wrap {
        display: inline-block;
        position: absolute;
        top: 85px;
        right: 15px
    }
    &.__togglemenus {
        .header_aux {
            opacity: 0; 
            -webkit-transition: all 0.2s;
            transition: all 0.2s
        }
        .search {
            opacity: 0;
            -webkit-transition: all 0.2s;
            transition: all 0.2s
        }
    }
    &_menu {
        font-family: "Roboto Light", serif;
        font-size: 1em;
        color: #fff;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: right; 
        margin: 20px 20px 0 0;
        display: none;
        float: left;
        opacity: 1;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        .active a {
            color: $main_color;
            border-bottom: 1px solid $main_color;
        }
        a {
            color: #fff;
        }
        li {
            display: inline-block;
            a {
                display: block;
                margin: 0 10px 0 0;
                position: relative;
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
                ::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -5px;
                    width: 0%;
                    height: 1px;
                    background: #fff;
                    -webkit-transition: all 0.3s;
                    transition: all 0.3s
                }
            }
            &:hover a, &:focus a {
                color: $main_color;
                text-decoration: none;
                outline: none;
            }
            &:hover a::before, &:focus a::before {
                width: 100%
            }
            &:last-child a {
                margin: 0
            }
        }
    }
    &_toggle {
        float: right;
    }
}

.logo_text {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    text-transform: uppercase;
    font-size: 23px;
    line-height: 24px;
    font-weight: bold;
    padding-left: 20px;
    .diff {
        color: $main_color;
    }
}

@media (min-width: 768px) {
    .header_logo img {
        height:79px
    }
    .header_menu__wrap {
        top: 0;
    }
    
}

@media (min-width: 992px) {
    .header_menu {
        display:inherit
    }
    .header_toggle {
        float: left;
    }
}

@media (min-width: 1200px) {
    .header_menu {
        margin: 20px 40px 0 0;
        li a {
            margin: 0 35px 0 0;
        }
    }
}

.nav {
    background: #7c7c7c
}

.burger {
    display: inline-block;
    float: left;
    background: #fff;
    height: 55px;
    width: 55px;
    color: #fff;
    z-index: 999;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s
}

@media (min-width: 9999px) {
    .burger {
        display:none
    }
}

.burger_toggle {
    display: block;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    span {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        margin: -2px 0 0 -9px;
        width: 20px;
        height: 3px;
        background: $main_color;
        &:before, &:after {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background: $main_color;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-transition: -webkit-transform 0.3s;
            transition: transform 0.3s
        }
        &:before {
            top: -8px;
            -webkit-transform: rotate(0);
            -ms-transform: rotate(0);
            transform: rotate(0)
        }
        &:after {
            bottom: -8px;
            -webkit-transform: rotate(0);
            -ms-transform: rotate(0);
            transform: rotate(0)
        }
        &.__open {
            background: transparent;
            &:before {
                top: 0;
                -webkit-transform: rotate(135deg);
                -ms-transform: rotate(135deg);
                transform: rotate(135deg)
            }
            &:after {
                bottom: 0;
                -webkit-transform: rotate(225deg);
                -ms-transform: rotate(225deg);
                transform: rotate(225deg)
            }
        }
    }
}

.banner {
    height: 340px;
    position: relative;
    margin: -91px 0 0 0;
    font-family: "Crimson Text",serif;
    text-align: center;
    &_main {
        background: url(../images/main_banner.jpg)
    }
}

@media (min-width: 768px) {
    .banner {
        margin:-99px 0 0 0;
        height: 520px
    }
}

@media (min-width: 992px) {
    .banner {
        height:600px
    }
}

.banner.__fullsize {
    height: 100vh;
    text-align: center
}

.banner.__fullsize::before {
    opacity: .1
}

.banner.__fullsize::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.05));
    background-image: linear-gradient(90deg, rgba(0,0,0,0.7), rgba(0,0,0,0.05))
}

@media (min-width: 768px) {
    .banner.__fullsize {
        text-align:left
    }
}

.banner.__fullsize .banner_title {
    font-size: 2.625em;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 0 73px rgba(0,0,0,0.43);
    line-height: 1
}

@media (min-width: 768px) {
    .banner.__fullsize .banner_title {
        font-size:3.875em
    }
}

@media (min-width: 992px) {
    .banner.__fullsize .banner_title {
        font-size:5.125em
    }
}

@media (min-width: 1200px) {
    .banner.__fullsize .banner_title {
        font-size:5.25em
    }
}



.banner_wrap {
    position: absolute;
    top: 40%;
    width: 100%;
    z-index: 10;
}

.banner_content {
    color: #000
}

.banner_title {
    font-size: 1.75em;
    font-weight: 600;
    color: #fff;
    padding: 20px 0;
    text-transform: uppercase;
    text-shadow: 0 0 73px rgba(0,0,0,0.43);
    line-height: 1.1
}

@media (min-width: 768px) {
    .banner_title {
        font-size:2.25em
    }
    .banner_wrap {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

@media (min-width: 992px) {
    .banner_title {
        font-size:2.875em
    }
}

@media (min-width: 1200px) {
    .banner_title {
        font-size:3.5em
    }
}

.banner_title {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
    -webkit-transition: all 1.5s .3s;
    transition: all 1.5s .3s;
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
}

.banner_link {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition: all 1.5s .3s;
    transition: all 1.5s .3s;
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

.menu_lang {
    text-align: right;
    padding-top: 20px;
    .btn {
        background: none;
        color: #fff;
    }
    .btn-primary {
        background: $main_color;
    }
}

.signin {
    &_block {
        position: relative;
        height: 55px;
        line-height: 55px;
        padding: 0 5px 0 8px;
        float: left;
        opacity: 1;
        -webkit-transition: all 0.1s 0.3s;
        transition: all 0.1s 0.3s;
        background: $main_color;
    }
    
    &_wrap a {
        display: block;
        height: 100%;
        &.sign_out {
            float: right;
            padding-left: 10px;
            color:#fff;
        }
        &.sign_in {
            padding: 0 13px 0 7px;
            color:#fff; 
        }
        img {
            max-width: 24px;
        }
    }
    
    &_name {
        color: #fff;
        display: inline-block;
        max-width: 180px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.navwindow {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #000;
	opacity: .7;
	z-index: 54;
	display: none;
}
.navwrap {
	background: none;
}
@media(min-width: 9999px) {
	.navwrap {
		background: #eaeaea;
	}
	.navblock {
		display: inline-block;
		position: inherit;
		top: inherit;
		right: inherit;
		bottom: inherit;
		height: auto;
		float: left;
		width: 100%;
		z-index: 9999;
		overflow: inherit;
		transition: all 0.3s;
	}
	.nav {
		overflow-y: inherit;
		background: none;
		float: inherit;
		width: inherit;
		ul {
			> li {
				&.menu-item {
					display: inline-block;
					a {
						padding: 0;
						border: none;
						line-height: 80px;
						padding: 0 20px 0 0;
						color: #262525;
					}
					a::before {
						content: '';
						height: 4px;
						width: 0;
						position: absolute;
						bottom: 15px;
						left: 0;
						background: #af9365;
						transition: all 0.3s;
					}
					&:last-child a {
						margin: 0;
					}
					&:hover > a::before {
						width: 30px;
						opacity: 1;
					}
					&:focus > a::before {
						width: 30px;
						opacity: 1;
					}
				}
				&.menu-item-has-children {
					> ul {
						position: absolute;
						width: 400px;
						top: inherit;
						bottom: inherit;
						right: -400px;
						height: inherit;
						z-index: 50;
						display: none;
						li {
							display: block;
							> a {
								padding: 15px 20px;
								line-height: inherit;
							}
							> a::before {
								display: none;
							}
							ul {
								top: 0;
								right: -260px;
								z-index: 60;
								transform: translateX(0);
							}
						}
					}
					&:hover > ul {
						display: block;
					}
					&:focus > ul {
						display: block;
					}
				}
			}
			&:first-child > li.menu-item-has-children > a::after {
				display: none;
			}
		}
	}
}
.navblock {
	display: inline-block;
	position: fixed;
	top: 0;
	right: -260px;
	bottom: 0;
	height: 100%;
	width: 260px;
	z-index: 9999;
	overflow: hidden;
	transition: all 0.3s;
}
@media(min-width: 992px) {
	.navblock {
		width: 265px;
        right: -265px;
	}
	.nav ul > li {
		&.menu-item a {
			padding: 13px 40px;
		}
		&.menu-item-has-children > ul {
			width: 400px;
			right: -400px;
		}
	}
}
.nav {
	background: none;
	height: 100%;
	position: relative;
	float: left;
	width: 100%;
	overflow-y: scroll;
	font-family: Hind, sans-serif;
	background: #262525;
	ul {
		height: 100%;
		float: left;
		width: 100%;
		> li {
			&.menu-item {
				display: block;
				position: relative;
				a {
					display: block;
					font-size: 1.125em;
					color: #fff;
					padding: 20px;
					font-weight: 400;
					position: relative;
					transition: all 0.3s;
				}
				&:hover > a {
					background: none;
				}
				&:focus > a {
					background: none;
				}
			}
			&.menu-item-has-children {
				position: relative;
				> a::after {
					content: '\e902';
					font-family: icomoon;
					font-size: 10px;
					color: $main_color;
					position: absolute;
					top: 50%;
					right: 20px;
					transform: translate(0, -50%);
				}
				> ul {
					background: #262525;
					position: fixed;
					width: 260px;
					top: 0;
					bottom: 0;
					right: -260px;
					height: 100%;
					z-index: 50;
					&.__active {
						overflow-y: scroll;
						right: 0 !important;
						display: block;
					}
					li {
						> a {
							color: #fff;
							margin: 0;
						}
						ul {
							background: #212020;
						}
						&:hover > a {
							background: #353434;
						}
						&:focus > a {
							background: #353434;
						}
					}
				}
			}
		}
		li {
			&.backto {
				> a {
					font-size: 18px !important;
					padding: 20px;
					border-bottom: 1px solid #353434;
					position: relative;
				}
				> a::before {
					content: '\e901';
					font-family: icomoon;
					font-size: 10px;
					color: $main_color;
					display: inline-block;
					margin: 0 30px 0 0;
				}
			}
			&.viewall a {
				font-size: 1.375em;
				color: #fff;
				font-weight: 600;
				text-transform: uppercase;
				letter-spacing: 2px;
				padding: 20px;
			}
			&:first-child > a:not(.backto) {
				font-size: 1.375em;
				color: #fff;
				font-weight: 600;
				text-transform: uppercase;
				letter-spacing: 2px;
				padding: 20px;
			}
		}
	}
}

@media(min-width: 992px) {
	body.__navactive .burger {
		transform: translateX(-400px);
	}
}
.side_item__title {
    font-size: 20px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
}

body.__navactive {
	.wrapper {
		overflow: hidden;
	}
	.burger {
        transform: translateX(-255px);
        z-index: 999;
    }
    a {
        color: #fff;
    }
    a:hover {
        color: $main_color;
    }
	.header_logo, .header_menu, .signin_block, .menu_lang {
		opacity: 0;
		transition: all .3s;
	}
	.navwindow {
		display: block;
	}
	.navblock {
		right: 0;
        padding: 39px 20px;
        background: #2b2a2a;
    }
    .side_item__list {
        padding-left: 20px;
    }
	.burger_toggle span {
		background: transparent;
		&:before {
			top: 0;
			background: $main_color;
			transform: rotate(135deg);
		}
		&:after {
			bottom: 0;
			background: $main_color;
			transform: rotate(225deg);
		}
	}
}