@import "colors";


.staffwrap {
    padding:40px 0
}


.staffblock {
    display: block;
    margin: 0 0 30px 0;
    padding: 0 0 30px 0;
    border-bottom: solid 2px #e5e5e5;
    text-align: center;
}


@media (min-width: 768px) {
    .staffblock {
        text-align:left;
        &_wrap {
            padding: 0 25px;
        }
    }
} 

.staffblock_image {
    height: 175px;
    width: 150px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    margin: 0 auto 20px auto;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-size: cover;
}

@media (min-width: 768px) {
    .staffblock_image {
        margin:0 40px 0 0;
        float: left
    }
}

@media (min-width: 768px) {
    .staffblock_content {
        width:calc(100% - 190px);
        display: inline-block;
        float: left
    }
}

.staffblock {
    &_name {
        font-size: 1.375em;
        color: #2b2a2a;
        font-weight: 600;
        line-height: 1.2;
        padding-bottom: 5px
    }
    
    &_title {
        font-size: 0.875em;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $main_color;
    }
    
    &_hr {
        margin: 15px 0;
        border-color: $main_color
    }
    
    &_link {
        font-size: 1em;
        color: #2b2a2a;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        position: relative;
        padding: 15px 0 0 0
    }
}
@media (min-width: 768px) {
    .staffblock_link {
        padding: 10px 0 0 0;
    }
}

.staffblock_link .fas {
    font-size: 11px;
    display: inline-block;
    color: $main_color;
    margin: 0 0 0 20px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s
}

.staffblock:hover .staffblock_image,.staffblock:focus .staffblock_image {
    opacity: .8
}

.staffblock:hover .staffblock_link::after,.staffblock:focus .staffblock_link::after {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px)
}
