﻿<footer class="footer">
    <div class="container">
        <div class="footer_menu">
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                <a asp-page="/Index" class="footer_logo">
                <img src="/images/logo.png" alt="logo">
            </a>
            </div>
        <vc:main-menu display-for="Footer" />
        </div>
          
    </div>
</footer>