﻿@model ITCSCloud.ViewComponents.LanguageSelector.LanguageSelectorViewModel

<form method="post">
    <input asp-for="ReturnUrl"/>

    @foreach (var supportedCulture in Model.SupportedCultures)
    {
        <button type="submit" class="btn btn-outline-primary"
                conditional-class-btn-primary="@supportedCulture.Selected"
                asp-controller="Localization"
                asp-action="SetLanguage"
                asp-route-languageCode="@supportedCulture.Value">
            @Loc[@supportedCulture.Value]
        </button>
    }
</form>